@media (min-width:768px) and (max-width:1023px){
    /* HEADER */
    .header{
        display: flex;
        justify-content: space-between;
    }
    .enlaces :not(:last-child){
        display: none;
    }
    .container_first{
        display: flex;
        justify-content: space-between;
    }
    .left{
        margin: 0;
    }
    .leftTitle{
        font-weight: 700;
        font-style: normal;
        line-height: normal;
        font-size: 22px;
    }
    .leftDescription{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .social{
        display: flex;
        width:100%;
        justify-content: space-between;
        gap:32px;
        flex-direction: row;
    }
    /* ABOUT ME */
    .second_title{
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
        padding: 1rem;
    }
    .second_description{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        padding: 1rem;
        width:100%
    }
    .second_firma{
        width: 150px;
        margin: 0;
        padding: 1rem;
    }
    /* SKILLS */
    .third_title{
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 1rem;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        gap:16px;
    }
    /* HOBBIES */
    .four_title{
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    /* FORMACIÓN */
    .five_title{
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .cards_five_container {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        gap: 16px;
    }
    .five_cards{
        width:100%;
        max-width: 100%;
    }
    .six_title{
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .reto_uno{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    .reto_dos{
        display: flex;
        flex-direction: column-reverse;
        margin: 1rem;
    }
    .costado_title_dos{
        text-align: left;
    }
    .costado_second_title_dos{
        text-align: left;
    }
    .costado_btn_dos{
        text-align: left;
    }
    .seven_container_img{
        display: none;
    }
}