@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Raleway&display=swap');
:root{
    --preto-100: #464646;
    --preto-05: #F5F5F5;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    align-items: center;
}
.enlaces-a{
    color: var(--preto-100);
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 25px;
}

/* PRESENTACIÓN */
.container{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    align-items: center;
}
.left{
    color: var(--preto-100);
    font-family: 'Raleway', sans-serif;
    margin-left: 6rem;
}
.leftTitle{
    font-size: 52px;
    font-weight: 700;
}
.leftDescription{
    font-size: 22px;
}
.social{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.socialbutton{
    text-decoration: none;
    color: var(--preto-100);
    justify-content: flex-start;
}
.socialbutton i{
    rotate: 45deg;
}
.right{
    display: flex;
    justify-content: center;
}
.rightPicture{
    width: 70%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}